html {
  font-family: 'Roboto', sans-serif;
  color: var(--grey--nero);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: var(--font-size-md);
  line-height: 1.2em;
}

a {
  text-decoration: underline;
  color: inherit;
}

a:hover {
   color: var(--black);
}

h1,
h2,
h3,
h4 {
  margin: 0 0 var(--spacing-lg) 0;
  padding: 0;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

ul,
p {
  margin: 0 0 var(--spacing-lg) 0;
  padding: 0;
}

button,
input,
textarea,
select {
  font-family: 'Roboto', sans-serif;
  font-size: var(--font-size-md);
  line-height: 1.2em;
  color: var(--grey--nero);
}

button {
  padding: 0 var(--spacing-sm);
  border: 1px solid var(--black);
  border-radius: 3px;
  line-height: 25px;
  cursor: pointer;
}

textarea {
  padding: var(--spacing-md);
  height: 150px;
}

input[type="text"],
input[type="password"],
input[type="range"],
select {
  width: 100%;
}
